@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

// Font Mixins
.fontRobotoRegular{
  font-family: 'Roboto Condensed', sans-serif;
}

.fontRobotoBold{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

// Variables
@primary-color: #525151;
@secundary-color: #15905c;


body{
  background-color: #fff;
  color: @primary-color;
}
